.contactItem {
  display: flex;
  border: 1px solid black;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
}

.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: opacity 7000ms;
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 7000ms;
}
