.containerAlert {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  background-color: red;
  color: white;
  text-align: center;
}

.alert-enter {
  opacity: 0;
  transform: translateX(100%);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear 250ms;
}

.alert-exit {
  opacity: 1;
  transform: translate(0);
}

.alert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 250ms linear;
}
